body {
  background-color: #000;
}
h1, button {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 60px 0;
  font-size: 3em;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

button {
  width: 150px;
  height: 60px;
  font-size: 1.1em;
  font-weight: bold;
  color: #e6e600;
  background-color: #333333;
  border: 3px solid #e6e600;
  border-radius: 7%;
}

button:hover {
  color: #ff1a1a;
  border-color: #ff1a1a;
}

.btn-active {
  color: #ff1a1a;
  border: 3px solid #ff1a1a;
}

#grid-container {
  margin: 0 auto;
  max-width: 960px;
}

#grid-container header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: flex-end;
}

#grid {
  margin-top: 30px;
  width: 960px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: #fff;
  border: 3px solid #ff1a1a;
  border-radius: 1%;

}

.grid-square {
  height: 60px;
  width: 60px;
}
